body{
    background: url(background.svg);
}

h2{
    font-family: 'Inter', sans-serif;
}

p{
     font-family: 'Inter', sans-serif;;
}
.dev{
    background-color: white;
    width: 27%;
    height: 600px;
    border-radius: 4%;
    margin: 7% auto;
    min-width: 350px;
    
}
.two{
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 96%);
    width: 85%;
    height: 14%;
    margin: 4% 10% 10% 10%;
    border-radius: 10px;
}

.texts{
    padding: 5% 13% 2% 13% ;
    text-align: center;
}

.pic{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.icon{
   
    margin-top: 7%;
    margin-left: 4%;
}

a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.p{
    white-space: nowrap;
    margin-top: 25%;
}

.year{
    margin: 4%;
    margin-left: 7%;
    margin-top: 0.6%;
}

.change{
    margin-top: 12%;
    margin-left: 9%;
    width: 100%;

}

button{
    width: 80%;
    margin-left: 9%;
    height: 2.4rem;
    font-family: 'Inter', sans-serif;
}



button:hover{
    cursor: pointer;
}
.button-1{
background-color: hsl(226, 72%, 69%);
margin-bottom: 2%;
border-radius: 10px;
color: white;
border: none;
box-shadow: 5px 10px 30px;
font-weight: bolder;

}



.button-2{
    border: none;
    background: none;
    font-weight: 800;
}